##导入宏定义
$!{define.vm}
$!{jpa.vm}

#set($serviceSavePath = $tool.append(${constansSrcFolder},"/",${constansPackageName.replace(".","/")}))

$!callback.setSavePath($serviceSavePath)
$!callback.setFileName($tool.append("Constants", ".java"))

##自动导入包（全局变量）
package ${constansPackageName};
$!{autoImport.vm}


public class Constants {
    public static final String MODULE_PRE = "${tableInfo.preName}_";
    public static final String API_PRE = "api/${tableInfo.preName}/";
    public static final String TABLE_PRE = "${tableInfo.preName}_";
}
