
$!{define.vm}
$!{jpa.vm}

#set($serviceSavePath = $tool.append(${controllerSrcFolder},"/",${controllerPackageName.replace(".","/")}))

$!callback.setSavePath($serviceSavePath)
$!callback.setFileName($tool.append($controllerClassName, ".java"))
package ${controllerPackageName};
$!{autoImport.vm}
import org.anycms.base.web.CrudController;
import cn.dev33.satoken.stp.StpUtil;
import org.anycms.framework.common.util.DateUtils;
import org.anycms.base.BizException;
import io.swagger.v3.oas.annotations.tags.Tag;
import lombok.extern.slf4j.Slf4j;
import ${modelPackageName}.${entityName};
import ${repositoryPackageName}.${repositoryClassName};
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;

import ${serviceImplPackageName}.${serviceClassName};

#tableComment("controller class")
#set($entityNameLower=$tool.firstLowerCase($tableInfo.name))
#set($dtoVariableName=$tool.firstLowerCase($dtoClassName))
#if(${useSlf4j})
@Slf4j
#end
#if($useSwagger)
@ApiModel(value = "$!{entityName}" , description = "$!{tableInfo.comment}" )
#end
#if($useOpenApi)
@Tag(name = "$!{tableInfo.comment} API")
#end
@RestController
@RequestMapping($!{entityName}.API_URL)
public class ${controllerClassName} extends CrudController<${repositoryClassName}, ${entityName}> {

    @Autowired
    #set($serviceVariableName=$tool.firstLowerCase($serviceClassName))
    private ${serviceClassName} ${serviceVariableName};

    @Autowired
    private ${repositoryClassName} repository;

    public ${controllerClassName}() {
        super(${entityName}.class);
    }

    @Override
    public ${repositoryClassName} getRepository() {
        return repository;
    }

    @Override
    public void beforeAdd(${entityName} bean) throws BizException {
        bean.setCreatorId(StpUtil.getLoginIdAsString());
        super.beforeAdd(bean);
    }

    @Override
    public void beforeUpdate(${entityName} previous, ${entityName} current) throws BizException {
        current.setCreatorId(previous.getCreatorId());
        super.beforeUpdate(previous, current);
    }




}
