$!{define.vm}
$!{jpa.vm}

#set($serviceSavePath = $tool.append(${serviceImplSrcFolder},"/",${serviceImplPackageName.replace(".","/")}))

$!callback.setSavePath($serviceSavePath)
$!callback.setFileName($tool.append($serviceClassName, ".java"))
package ${serviceImplPackageName};
import org.springframework.beans.BeanUtils;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import ${modelPackageName}.${entityName};
import ${dtoPackageName}.${dtoClassName};

import ${repositoryPackageName}.${repositoryClassName};

import java.util.List;
import java.util.Optional;

#tableComment("service class")
#set($repositoryVariableName=$tool.firstLowerCase($repositoryClassName))
#set($entityVariableName=$tool.firstLowerCase($entityName))

@Service
public class ${serviceClassName} {

    @Autowired
    private ${repositoryClassName} ${repositoryVariableName};


}
